body {
    background: black;
    margin: 0;
    font-family: monospace;
    color: white;
    font-size: 150%;
}

/* THEME */

:root {
    --red:     #ff4040;
    --green:   #40ff40;
    --yellow:  #ffff40;
    --blue:    #6060ff;
    --cyan:    #40ffff;
    --magenta: #ff40ff;
    --dark-red:     #bf0000;
    --dark-green:   #00bf00;
    --dark-yellow:  #bfbf00;
    --dark-blue:    #0000bf;
    --dark-cyan:    #00bfbf;
    --dark-magenta: #bf00bf;
    
    --white:        #ffffff;
}


/* Link styling */
a::before {
    color: var(--cyan);
    content: "[";
}
a::after {
    color: var(--cyan);
    content: "]";
}

a.no-deco:hover {text-decoration: underline ;}
a {color: var(--cyan);text-decoration: none;}

a#user::before {
    color: #ff5f00;
    content: "<";
}
a#user::after {
    color: #ff5f00;
    content: ">";
}
a#user {color: #ff5f00;}

a#nav-link {
    color: var(--yellow);
    margin-bottom: 2px;
    display: block;
}

a#nav-link::before, a#nav-link::after, a.no-deco::before, a.no-deco::after {
    display: none;
}

/* General styling */
h3, h2, h1 {
    font-size: calc(1rem * 1.5);
}

h1::before {
    color: var(--red);
    content: "# ";
}

h2::before {
    color: var(--blue);
    content: "## ";
}

h3::before {
    color: var(--magenta);
    content: "### ";
}

h1.nomargin, h2.nomargin, h3.nomargin {
    margin-top: 0;
}

li::before {
    color: var(--magenta);
    content: "- ";
}

li {
    color: var(--magenta);
    list-style: none;
}

/* COLORS!!!1 */

.white {
    color: var(--white)
}
.red {
    color: var(--red)
}
.green {
    color: var(--green)
}
.yellow {
    color: var(--yellow)
}
.blue {
    color: var(--blue)
}
.cyan {
    color: var(--cyan)
}
.magenta {
    color: var(--magenta)
}

.red-dark {
    color: var(--dark-red)
}
.green-dark {
    color: var(--dark-green)
}
.yellow-dark {
    color: var(--dark-yellow)
}
.blue-dark {
    color: var(--dark-blue)
}
.cyan-dark {
    color: var(--dark-cyan)
}
.magenta-dark {
    color: var(--dark-magenta)
}

/* text styles */

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
/* underlined, crossed out and overlined text (with normal, wavy, dotted and in all colors) (i spent 10 minutes on this) */
@media only screen{ /*just separating it so that i can fold it*/
    .underline {text-decoration-color: var(--white)!important ;text-decoration: underline;}
    .red-underline {text-decoration-color: var(--red)!important ;text-decoration: underline;}
    .green-underline {text-decoration-color: var(--green)!important ;text-decoration: underline;}
    .yellow-underline {text-decoration-color: var(--yellow)!important ;text-decoration: underline;}
    .blue-underline {text-decoration-color: var(--blue)!important ;text-decoration: underline;}
    .cyan-underline {text-decoration-color: var(--cyan)!important ;text-decoration: underline;}
    .magenta-underline {text-decoration-color: var(--magenta)!important ;text-decoration: underline;}
    .underline-wavy {text-decoration-color: var(--white)!important ;text-decoration: underline wavy;}
    .red-underline-wavy {text-decoration-color: var(--red)!important ;text-decoration: underline wavy;}
    .green-underline-wavy {text-decoration-color: var(--green)!important ;text-decoration: underline wavy;}
    .yellow-underline-wavy {text-decoration-color: var(--yellow)!important ;text-decoration: underline wavy;}
    .blue-underline-wavy {text-decoration-color: var(--blue)!important ;text-decoration: underline wavy;}
    .cyan-underline-wavy {text-decoration-color: var(--cyan)!important ;text-decoration: underline wavy;}
    .magenta-underline-wavy {text-decoration-color: var(--magenta)!important ;text-decoration: underline wavy;}
    .underline-dotted {text-decoration-color: var(--white)!important ;text-decoration: underline dotted;}
    .red-underline-dotted {text-decoration-color: var(--red)!important ;text-decoration: underline dotted;}
    .green-underline-dotted {text-decoration-color: var(--green)!important ;text-decoration: underline dotted;}
    .yellow-underline-dotted {text-decoration-color: var(--yellow)!important ;text-decoration: underline dotted;}
    .blue-underline-dotted {text-decoration-color: var(--blue)!important ;text-decoration: underline dotted;}
    .cyan-underline-dotted {text-decoration-color: var(--cyan)!important ;text-decoration: underline dotted;}
    .magenta-underline-dotted {text-decoration-color: var(--magenta)!important ;text-decoration: underline dotted;}
    .overline {text-decoration-color: var(--white)!important ;text-decoration: overline;}
    .red-overline {text-decoration-color: var(--red)!important ;text-decoration: overline;}
    .green-overline {text-decoration-color: var(--green)!important ;text-decoration: overline;}
    .yellow-overline {text-decoration-color: var(--yellow)!important ;text-decoration: overline;}
    .blue-overline {text-decoration-color: var(--blue)!important ;text-decoration: overline;}
    .cyan-overline {text-decoration-color: var(--cyan)!important ;text-decoration: overline;}
    .magenta-overline {text-decoration-color: var(--magenta)!important ;text-decoration: overline;}
    .overline-wavy {text-decoration-color: var(--white)!important ;text-decoration: overline wavy;}
    .red-overline-wavy {text-decoration-color: var(--red)!important ;text-decoration: overline wavy;}
    .green-overline-wavy {text-decoration-color: var(--green)!important ;text-decoration: overline wavy;}
    .yellow-overline-wavy {text-decoration-color: var(--yellow)!important ;text-decoration: overline wavy;}
    .blue-overline-wavy {text-decoration-color: var(--blue)!important ;text-decoration: overline wavy;}
    .cyan-overline-wavy {text-decoration-color: var(--cyan)!important ;text-decoration: overline wavy;}
    .magenta-overline-wavy {text-decoration-color: var(--magenta)!important ;text-decoration: overline wavy;}
    .red-overline-dotted {text-decoration-color: var(--red)!important ;text-decoration: overline dotted;}
    .green-overline-dotted {text-decoration-color: var(--green)!important ;text-decoration: overline dotted;}
    .yellow-overline-dotted {text-decoration-color: var(--yellow)!important ;text-decoration: overline dotted;}
    .blue-overline-dotted {text-decoration-color: var(--blue)!important ;text-decoration: overline dotted;}
    .cyan-overline-dotted {text-decoration-color: var(--cyan)!important ;text-decoration: overline dotted;}
    .magenta-overline-dotted {text-decoration-color: var(--magenta)!important ;text-decoration: overline dotted;}
    .crossed {text-decoration-color: var(--white)!important ;text-decoration: line-through;}
    .red-crossed {text-decoration-color: var(--red)!important ;text-decoration: line-through;}
    .green-crossed {text-decoration-color: var(--green)!important ;text-decoration: line-through;}
    .yellow-crossed {text-decoration-color: var(--yellow)!important ;text-decoration: line-through;}
    .blue-crossed {text-decoration-color: var(--blue)!important ;text-decoration: line-through;}
    .cyan-crossed {text-decoration-color: var(--cyan)!important ;text-decoration: line-through;}
    .magenta-crossed {text-decoration-color: var(--magenta)!important ;text-decoration: line-through;}
    .red-crossed-wavy {text-decoration-color: var(--red)!important ;text-decoration: line-through wavy;}
    .green-crossed-wavy {text-decoration-color: var(--green)!important ;text-decoration: line-through wavy;}
    .yellow-crossed-wavy {text-decoration-color: var(--yellow)!important ;text-decoration: line-through wavy;}
    .blue-crossed-wavy {text-decoration-color: var(--blue)!important ;text-decoration: line-through wavy;}
    .cyan-crossed-wavy {text-decoration-color: var(--cyan)!important ;text-decoration: line-through wavy;}
    .magenta-crossed-wavy {text-decoration-color: var(--magenta)!important ;text-decoration: line-through wavy;}
    .red-crossed-dotted {text-decoration-color: var(--red)!important ;text-decoration: line-through dotted;}
    .green-crossed-dotted {text-decoration-color: var(--green)!important ;text-decoration: line-through dotted;}
    .yellow-crossed-dotted {text-decoration-color: var(--yellow)!important ;text-decoration: line-through dotted;}
    .blue-crossed-dotted {text-decoration-color: var(--blue)!important ;text-decoration: line-through dotted;}
    .cyan-crossed-dotted {text-decoration-color: var(--cyan)!important ;text-decoration: line-through dotted;}
    .magenta-crossed-dotted {text-decoration-color: var(--magenta)!important ;text-decoration: line-through dotted;}


    .dark-red-underline {text-decoration-color: var(--dark-red)!important ;text-decoration: underline;}
    .dark-green-underline {text-decoration-color: var(--dark-green)!important ;text-decoration: underline;}
    .dark-yellow-underline {text-decoration-color: var(--dark-yellow)!important ;text-decoration: underline;}
    .dark-blue-underline {text-decoration-color: var(--dark-blue)!important ;text-decoration: underline;}
    .dark-cyan-underline {text-decoration-color: var(--dark-cyan)!important ;text-decoration: underline;}
    .dark-magenta-underline {text-decoration-color: var(--dark-magenta)!important ;text-decoration: underline;}
    .dark-red-underline-wavy {text-decoration-color: var(--dark-red)!important ;text-decoration: underline wavy;}
    .dark-green-underline-wavy {text-decoration-color: var(--dark-green)!important ;text-decoration: underline wavy;}
    .dark-yellow-underline-wavy {text-decoration-color: var(--dark-yellow)!important ;text-decoration: underline wavy;}
    .dark-blue-underline-wavy {text-decoration-color: var(--dark-blue)!important ;text-decoration: underline wavy;}
    .dark-cyan-underline-wavy {text-decoration-color: var(--dark-cyan)!important ;text-decoration: underline wavy;}
    .dark-magenta-underline-wavy {text-decoration-color: var(--dark-magenta)!important ;text-decoration: underline wavy;}
    .dark-red-underline-dotted {text-decoration-color: var(--dark-red)!important ;text-decoration: underline dotted;}
    .dark-green-underline-dotted {text-decoration-color: var(--dark-green)!important ;text-decoration: underline dotted;}
    .dark-yellow-underline-dotted {text-decoration-color: var(--dark-yellow)!important ;text-decoration: underline dotted;}
    .dark-blue-underline-dotted {text-decoration-color: var(--dark-blue)!important ;text-decoration: underline dotted;}
    .dark-cyan-underline-dotted {text-decoration-color: var(--dark-cyan)!important ;text-decoration: underline dotted;}
    .dark-magenta-underline-dotted {text-decoration-color: var(--dark-magenta)!important ;text-decoration: underline dotted;}
    .dark-red-overline {text-decoration-color: var(--dark-red)!important ;text-decoration: overline;}
    .dark-green-overline {text-decoration-color: var(--dark-green)!important ;text-decoration: overline;}
    .dark-yellow-overline {text-decoration-color: var(--dark-yellow)!important ;text-decoration: overline;}
    .dark-blue-overline {text-decoration-color: var(--dark-blue)!important ;text-decoration: overline;}
    .dark-cyan-overline {text-decoration-color: var(--dark-cyan)!important ;text-decoration: overline;}
    .dark-magenta-overline {text-decoration-color: var(--dark-magenta)!important ;text-decoration: overline;}
    .dark-red-overline-wavy {text-decoration-color: var(--dark-red)!important ;text-decoration: overline wavy;}
    .dark-green-overline-wavy {text-decoration-color: var(--dark-green)!important ;text-decoration: overline wavy;}
    .dark-yellow-overline-wavy {text-decoration-color: var(--dark-yellow)!important ;text-decoration: overline wavy;}
    .dark-blue-overline-wavy {text-decoration-color: var(--dark-blue)!important ;text-decoration: overline wavy;}
    .dark-cyan-overline-wavy {text-decoration-color: var(--dark-cyan)!important ;text-decoration: overline wavy;}
    .dark-magenta-overline-wavy {text-decoration-color: var(--dark-magenta)!important ;text-decoration: overline wavy;}
    .dark-red-overline-dotted {text-decoration-color: var(--dark-red)!important ;text-decoration: overline dotted;}
    .dark-green-overline-dotted {text-decoration-color: var(--dark-green)!important ;text-decoration: overline dotted;}
    .dark-yellow-overline-dotted {text-decoration-color: var(--dark-yellow)!important ;text-decoration: overline dotted;}
    .dark-blue-overline-dotted {text-decoration-color: var(--dark-blue)!important ;text-decoration: overline dotted;}
    .dark-cyan-overline-dotted {text-decoration-color: var(--dark-cyan)!important ;text-decoration: overline dotted;}
    .dark-magenta-overline-dotted {text-decoration-color: var(--dark-magenta)!important ;text-decoration: overline dotted;}
    .dark-red-crossed {text-decoration-color: var(--dark-red)!important ;text-decoration: line-through;}
    .dark-green-crossed {text-decoration-color: var(--dark-green)!important ;text-decoration: line-through;}
    .dark-yellow-crossed {text-decoration-color: var(--dark-yellow)!important ;text-decoration: line-through;}
    .dark-blue-crossed {text-decoration-color: var(--dark-blue)!important ;text-decoration: line-through;}
    .dark-cyan-crossed {text-decoration-color: var(--dark-cyan)!important ;text-decoration: line-through;}
    .dark-magenta-crossed {text-decoration-color: var(--dark-magenta)!important ;text-decoration: line-through;}
    .dark-red-crossed-wavy {text-decoration-color: var(--dark-red)!important ;text-decoration: line-through wavy;}
    .dark-green-crossed-wavy {text-decoration-color: var(--dark-green)!important ;text-decoration: line-through wavy;}
    .dark-yellow-crossed-wavy {text-decoration-color: var(--dark-yellow)!important ;text-decoration: line-through wavy;}
    .dark-blue-crossed-wavy {text-decoration-color: var(--dark-blue)!important ;text-decoration: line-through wavy;}
    .dark-cyan-crossed-wavy {text-decoration-color: var(--dark-cyan)!important ;text-decoration: line-through wavy;}
    .dark-magenta-crossed-wavy {text-decoration-color: var(--dark-magenta)!important ;text-decoration: line-through wavy;}
    .dark-red-crossed-dotted {text-decoration-color: var(--dark-red)!important ;text-decoration: line-through dotted;}
    .dark-green-crossed-dotted {text-decoration-color: var(--dark-green)!important ;text-decoration: line-through dotted;}
    .dark-yellow-crossed-dotted {text-decoration-color: var(--dark-yellow)!important ;text-decoration: line-through dotted;}
    .dark-blue-crossed-dotted {text-decoration-color: var(--dark-blue)!important ;text-decoration: line-through dotted;}
    .dark-cyan-crossed-dotted {text-decoration-color: var(--dark-cyan)!important ;text-decoration: line-through dotted;}
    .dark-magenta-crossed-dotted {text-decoration-color: var(--dark-magenta)!important ;text-decoration: line-through dotted;}
}

t::before {
    --user: "wlodekm";
    --host: "wlodz";
    content: var(--user) "@" var(--host) " $ ";
    color: var(--green);
}

t {
    color: #0000bf;
}

t::after {
    content: "\\>";
}